.bodyDiv{
    
    color: white;
}
.startButton{
    position:absolute;
    top:25%;
    left:25%;
    padding: 25%;
    background-color:aliceblue;
    color:black;
}
.page{
    height:%100;
    width:%100;
}